Repository lehuutri07757-alt/football-result: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api, build_web

.gitlab-ci.yml:

stages:
  - build

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_BUILDKIT: "1"

default:
  image: docker:27
  services:
    - docker:27-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

build_api:
  stage: build
  rules:
    - changes:
        - apps/api/**/*
        - package.json
        - pnpm-workspace.yaml
        - pnpm-lock.yaml
  script:
    - export IMAGE_BASE="$CI_REGISTRY_IMAGE/api"
    - docker build -f apps/api/Dockerfile -t "$IMAGE_BASE:$CI_COMMIT_SHA" .
    - docker push "$IMAGE_BASE:$CI_COMMIT_SHA"
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        docker tag "$IMAGE_BASE:$CI_COMMIT_SHA" "$IMAGE_BASE:latest"
        docker push "$IMAGE_BASE:latest"
      fi

build_web:
  stage: build
  rules:
    - changes:
        - apps/web/**/*
        - package.json
        - pnpm-workspace.yaml
        - pnpm-lock.yaml
  script:
    - export IMAGE_BASE="$CI_REGISTRY_IMAGE/web"
    - docker build -f apps/web/Dockerfile --build-arg NEXT_PUBLIC_API_URL="$NEXT_PUBLIC_API_URL" -t "$IMAGE_BASE:$CI_COMMIT_SHA" .
    - docker push "$IMAGE_BASE:$CI_COMMIT_SHA"
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        docker tag "$IMAGE_BASE:$CI_COMMIT_SHA" "$IMAGE_BASE:latest"
        docker push "$IMAGE_BASE:latest"
      fi

chore: add .gitignore to exclude node_modules and build artifacts
  .gitignore
Due: none

chore: add matches truncation migration
  apps/api/prisma/migrations/20260206_truncate_matches/migration.sql
Due: build_api

feat: add bets module with bet placement and history API
  apps/api/jest.config.js
  apps/api/src/app.module.ts
  apps/api/src/modules/bets/bets.controller.ts
  apps/api/src/modules/bets/bets.module.ts
  apps/api/src/modules/bets/bets.service.spec.ts
  apps/api/src/modules/bets/bets.service.ts
  apps/api/src/modules/bets/constants/bet.constants.ts
  apps/api/src/modules/bets/dto/index.ts
  apps/api/src/modules/bets/dto/place-bet.dto.ts
  apps/api/src/modules/bets/dto/query-bet.dto.ts
Due: build_api

feat: enhance odds interface and add league bulk action DTO
  apps/api/src/modules/api-football/api-football.service.ts
  apps/api/src/modules/api-football/interfaces/odds-table.interface.ts
  apps/api/src/modules/leagues/dto/bulk-league-action.dto.ts
Due: build_api

chore: update API dependencies and config
  apps/api/package.json
  apps/api/tsconfig.json
  pnpm-lock.yaml
Due: build_api, build_web

feat: add bet types, service and betslip store
  apps/web/src/services/bet.service.ts
  apps/web/src/stores/betslip.store.ts
  apps/web/src/types/bet.ts
  apps/web/src/types/odds.ts
Due: build_web

feat: add floating betslip UI and odds selection interaction
  apps/web/src/components/mobile/FloatingBetSlip.tsx
  apps/web/src/components/odds/Bet365MatchRow.tsx
  apps/web/src/components/odds/Bet365OddsTable.tsx
Due: build_web

feat: add bets page, update match detail and navigation
  apps/web/src/app/bets/page.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/matches/[id]/page.tsx
  apps/web/src/components/Header.tsx
  apps/web/src/components/MainLayout.tsx
Due: build_web

chore: update build artifacts and planning files
  .sisyphus/boulder.json
  .sisyphus/drafts/bet-placement-feature.md
  .sisyphus/notepads/bet-placement/decisions.md
  .sisyphus/notepads/bet-placement/issues.md
  .sisyphus/notepads/bet-placement/learnings.md
  .sisyphus/notepads/bet-placement/problems.md
  .sisyphus/plans/bet-placement.md
  apps/web/tsconfig.tsbuildinfo
Due: build_web

chore: remove outdated docs and update prisma schema
  CLAUDE.md
  IMPLEMENTATION_SUMMARY.md
  apps/api/prisma/schema.prisma
Due: build_api

feat: enhance api-football sync module with improved odds and job management
  apps/api/src/modules/api-football/api-football.controller.ts
  apps/api/src/modules/api-football/api-football.scheduler.ts
  apps/api/src/modules/api-football/api-football.service.ts
  apps/api/src/modules/api-football/constants/api-football.constants.ts
  apps/api/src/modules/api-football/fixture-sync.service.ts
  apps/api/src/modules/api-football/interfaces/odds-table.interface.ts
  apps/api/src/modules/api-football/interfaces/sync-job.interface.ts
  apps/api/src/modules/api-football/league-sync.service.spec.ts
  apps/api/src/modules/api-football/league-sync.service.ts
  apps/api/src/modules/api-football/odds-sync.service.ts
  apps/api/src/modules/api-football/sync-config.service.ts
  apps/api/src/modules/api-football/sync-job.controller.ts
  apps/api/src/modules/api-football/sync-job.processor.ts
  apps/api/src/modules/api-football/sync-job.service.ts
Due: build_api

feat: enhance bets module with admin queries and improved service
  apps/api/src/modules/bets/bets.service.ts
  apps/api/src/modules/bets/dto/index.ts
  apps/api/src/modules/bets/dto/query-admin-bets.dto.ts
Due: build_api

feat: add admin bets endpoint and enhance leagues controller
  apps/api/src/modules/admin/admin.controller.ts
  apps/api/src/modules/admin/admin.module.ts
  apps/api/src/modules/leagues/leagues.controller.ts
  apps/api/src/modules/leagues/leagues.service.ts
Due: build_api

fix: update betting limits and featured matches services
  apps/api/src/modules/betting-limits/betting-limits.service.ts
  apps/api/src/modules/betting-limits/dto/update-betting-limits.dto.ts
  apps/api/src/modules/featured-matches/featured-matches.service.ts
Due: build_api

feat: update frontend services, types, hooks and stores
  apps/web/src/hooks/useOdds.ts
  apps/web/src/services/admin.service.ts
  apps/web/src/services/match.service.ts
  apps/web/src/services/odds.service.ts
  apps/web/src/services/sync-job.service.ts
  apps/web/src/stores/betslip.store.ts
  apps/web/src/types/bet.ts
  apps/web/src/types/odds.ts
Due: build_web

feat: enhance odds components with bet365 style improvements
  apps/web/src/components/odds/Bet365MatchRow.tsx
  apps/web/src/components/odds/Bet365OddsButton.tsx
  apps/web/src/components/odds/Bet365OddsTable.tsx
  apps/web/src/components/odds/OddsTable.tsx
Due: build_web

feat: enhance admin pages with sync dashboard and league management
  apps/web/src/app/admin/agents/page.tsx
  apps/web/src/app/admin/api-logs/page.tsx
  apps/web/src/app/admin/bets/page.tsx
  apps/web/src/app/admin/featured-matches/page.tsx
  apps/web/src/app/admin/layout.tsx
  apps/web/src/app/admin/leagues/page.tsx
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/admin/settings/page.tsx
  apps/web/src/app/admin/sync-dashboard/page.tsx
  apps/web/src/app/admin/sync-settings/page.tsx
  apps/web/src/app/admin/transactions/page.tsx
  apps/web/src/app/admin/users/page.tsx
  apps/web/src/app/admin/withdrawals/page.tsx
Due: build_web

feat: update user-facing pages and add desktop components
  apps/web/src/app/bets/page.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/matches/[id]/page.tsx
  apps/web/src/app/matches/page.tsx
  apps/web/src/app/profile/page.tsx
  apps/web/src/app/results/page.tsx
  apps/web/src/app/teams/[id]/page.tsx
  apps/web/src/app/wallet/page.tsx
  apps/web/src/components/dashboard/UpcomingMatchesTabs.tsx
  apps/web/src/components/desktop/DesktopBetSlip.tsx
  apps/web/src/components/mobile/FloatingBetSlip.tsx
Due: build_web

chore: update frontend config and layout
  apps/web/dev.js
  apps/web/src/components/MainLayout.tsx
  apps/web/src/lib/i18n.ts
  apps/web/tsconfig.tsbuildinfo
Due: build_web

chore: update admin pages and odds sync
  apps/api/src/modules/api-football/api-football.service.ts
  apps/api/src/modules/api-football/interfaces/odds-table.interface.ts
  apps/api/src/modules/api-football/odds-sync.service.ts
  apps/api/src/modules/matches/matches.service.ts
  apps/web/src/app/admin/agents/page.tsx
  apps/web/src/app/admin/api-health/page.tsx
  apps/web/src/app/admin/api-logs/page.tsx
  apps/web/src/app/admin/bets/page.tsx
  apps/web/src/app/admin/deposits/page.tsx
  apps/web/src/app/admin/featured-matches/page.tsx
  apps/web/src/app/admin/layout.tsx
  apps/web/src/app/admin/leagues/page.tsx
  apps/web/src/app/admin/matches/page.tsx
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/admin/settings/page.tsx
  apps/web/src/app/admin/standings/page.tsx
  apps/web/src/app/admin/sync-dashboard/page.tsx
  apps/web/src/app/admin/sync-settings/page.tsx
  apps/web/src/app/admin/teams/page.tsx
  apps/web/src/app/admin/transactions/page.tsx
  apps/web/src/app/admin/users/[id]/page.tsx
  apps/web/src/app/admin/users/page.tsx
  apps/web/src/app/admin/withdrawals/page.tsx
  apps/web/src/app/leagues/[slug]/page.tsx
  apps/web/src/components/MainLayout.tsx
  apps/web/src/components/matches/MatchCard.tsx
  apps/web/src/components/odds/Bet365MatchRow.tsx
  apps/web/src/components/odds/LeagueGroup.tsx
  apps/web/src/lib/i18n.ts
  apps/web/src/services/match.service.ts
  apps/web/src/types/odds.ts
Due: build_api, build_web
